.footerStyle 
{
    position: relative;
    bottom: 0%;
    left: 0%;

    width: 100%;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
 }

 .titleStyle
 {
   position: relative;
   left: 33%;

   width: 33%;
   height: auto;

   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
 }
 .earthStyle
 {
    position: relative;
    left: 45%;

    width: 10%;
    height: auto;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
 }
 .imageTextStyle
 {
  display: block;

  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
 }
 .dotsStyle
 {
   position: relative;
   left: 42.5%;

   width: 15%;
   height: auto;

   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -o-user-select: none;
   user-select: none;
 }

 .alertCustom
 {
   position: relative;
   left: 10%;

   width: 80%;

   background-color:#c8e3da;
   box-shadow: 
   10px 10px #AABBBB,
   -10px 10px #AABBBB;

   text-align: center;
   font-family: Arial, Helvetica, sans-serif;

   color:#40579a;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
 }

 .buttonFormat
 {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 22.6vh;
    height: 8.9vh;

    background-image: url(../assets/begin_button_new.svg);
    background-size: 100%;
    border-radius: 0.5vw;

    padding: 0;
    border: none;
 }
 .buttonFormat:hover
 {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.1vh;
  margin-bottom: -0.1vh;

  width: 22.6vh;
  height: 8.9vh;

  background-image: url(../assets/begin_button_new.svg);
  filter: brightness(1.1);

  background-size: 100%;
  border-radius: 0.5vw;

  padding: 0;
  border: none;
 }

 .buttonFormat2
 {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 22.6vh;
  height: 8.9vh;
  background-size: 100%;
  border-radius: 0.5vw;

  padding: 0;
  border: none;
 }
.buttonFormat2:hover
{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.1vh;
  margin-bottom: -0.1vh;

  width: 22.6vh;
  height: 8.9vh;
  background-size: 100%;
  border-radius: 0.5vw;

  filter: brightness(1.1);

  padding: 0;
  border: none;
}
.buttonFormatGrayed
{
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.1vh;
  margin-bottom: -0.1vh;

  width: 22.6vh;
  height: 8.9vh;
  background-size: 100%;
  border-radius: 0.5vw;

  filter: brightness(0.8);
  filter: grayscale(1.0);

  padding: 0;
  border: none;
}
 
 .centerTextBorder
 {
    text-align: center;

    color: #67ab62;

    text-shadow:
		-2px -2px 0 white,
		2px -2px 0 white,
		-2px 2px 0 white,
		2px 2px 0 white;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .inputNameSize
  {
    margin-left: auto;
    margin-right: auto;

    width: 20%;
  }
  .surveyCenter
  {
    display: block;

    margin-left: auto;
    margin-right: auto;
  }
  .surveyWidth
  {
    margin-left: auto;
    margin-right: auto;

    margin-top: 3%;
    margin-bottom: 3%;

    background-color: #FFFFFF66;
    border-radius: 1.5vw;

    width: 100%;
  }
  .titleHeader
  {
    color: #67ab62;
  }